.send_form
  = form_for [@group, @message] do |f|
    .message-form
      = f.text_field :text, class:"message-form__text", placeholder: "type a message"

      .input-box
        = f.label :image, class: "input-box" do
          = icon('fas', 'image',class: "input-box__icon")
          = f.file_field :image, class:"input-box__file"
    
      .send-box
        = f.submit "Send", class:"send-box__btn"