.side_bar
  .header
    %h3.header__user
      = current_user.name
    .header__btn
      = link_to new_group_path, class: "header__btn" do
        = icon('fas', 'edit',class:"header__btn--icon")
      = link_to edit_user_path(current_user), class: "header__btn" do
        = icon('fas', 'cog',class:"header__btn--icon")
  .contents
    - current_user.groups.each do |group|
      .contents-main
        = link_to group_messages_path(group) do
          .contents-main__group
            = group.name
          
          .contents-main__message
            = group.show_last_message

